/*首页样式*/

.header {
    z-index: 10000;
    height: 52px;
    width: 100%;
    background-color: #222;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
}

.logo {
    float: left;
    width: 200px;
    height: 52px;
    background: url(../images/logo.png) no-repeat;
}

.navbar li {
    width: 142px;
    float: left;
    font-size: 14px;
    color: white;
    line-height: 52px;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 70px auto 0 auto;
    max-width: 1200px;
    position: relative;
    /*margin: 0 auto;*/
    text-align: left;
}

.banner {
    width: 1200px;
    height: 313px;
    /*margin: 0 auto;*/
    border-radius: 5px;
    margin-bottom: 15px;
}

#b04 ul {
    margin-right: 30px
}

#b04 li img {
    width: 1200px;
    height: 300px;
}

/*<!-- 写点样式，让轮播好看点 -->*/
ul, ol {
    padding: 0;
}

.banner {
    position: relative;
    overflow: auto;
    text-align: center;
}

.banner li {
    list-style: none;
}

.banner ul li {
    float: left;
}

#b04 {
    width: 640px;
}

#b04 .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

#b04 .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

#b04 .dots li.active {
    background: #fff;
    opacity: 1;
}

#b04 .arrow {
    position: absolute;
    top: 135px;
}

#b04 #al {
    left: 15px;
}

#b04 #ar {
    right: 15px;
}

.content-wrap {
    width: 1200px;
    height: 100%;
    float: left;
}

.content {
   margin-right: 305px;
}
.sticky ul{
    display: block;
    margin-right: -2px;
}
.title{
    clear: both;
    position: relative;
    margin: 0;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    border-radius: 5px 5px 0 0;
    font-weight: 400;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
    background: #f7f7f7;
}
.item{
    float: left;
    margin-bottom: 1px;
    width: 50%;
    /*background: brown;*/
}
.sticky li a{
    display: block;
    margin-right: 1px;
    padding: 5px 20px 2px 140px;
    background-color: #fff;
    line-height: 20px;
}
.sticky img{
    float: left;
    width: 110px;
    height: 80px;
    margin: 8px 0 0 -120px;
    border-radius: 5px;
}
.sticky h3{
    overflow: hidden;
    margin: 10px 0 0 0;
    height: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
}
.sticky p{
    overflow: hidden;
    height: 56px;
    margin-bottom: 10px;
}
.muted{
    color: #999;
}

.excerpt {
    position: relative;
    margin-bottom: 1px;
    padding: 20px 20px 20px 256px;
    border-left: solid 4px #fff;
    background-color: #fff;
}
.excerpt:after {
    clear: both;
}
.excerpt .focus {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: -240px;
    width: 220px;
    text-align: center;
}
.excerpt .thumbnail img {
    display: block;
    width: 220px;
    height: 150px;
    max-width: 100%;
    border: 0;
    border-radius: 5px;
    vertical-align: middle;
}
.excerpt header {
    margin: 5px 40px 5px 0;
}
.excerpt h2 {
    position: relative;
    top: 1px;
    display: inline;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}
.excerpt .note {
    margin-bottom: 5px;
}
.excerpt .note {
    color: #888;
    font-size: 14px;
    line-height: 24px;
}
.excerpt:hover {
    margin-left: -4px;
    padding-left: 260px;
    background-color: #fafff8;
    border-left-color: #81c53f;
}
p{
    margin: 0 0 10px;
}

/*侧边栏模块*/
.sidebar{
    position: relative;
    float: right;
    margin-left: -290px;
    width: 290px;
}
.widget {
    clear: both;
    margin-bottom: 10px;
    border-radius: 5PX;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.widget h3 {
    border-radius: 5px 5px 0 0;
    position: relative;
    margin: 0;
    padding: 11px 15px 14px;
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.tag_list ul {
    padding: 20px;
}
.tag_list ul li {
    display: inline-block;
    padding: 4px 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #666;
    font-size: 12px;
    transition: all .3s ease 0s;
}
.tag_list ul li {
    float: left;
    display: block;
    margin-right: 8px;
    margin-bottom: 15px;
}

.widget {
    clear: both;
    margin-bottom: 10px;
    border-radius: 5PX;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}